// ListType1
.ListType1 { 
	.LeftColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; }
        h5 { color:grey; font-size:16px; display:block; }
    }

    .RightColumn { background:#fff; position:relative; 
        h4 { color:#000; font-size:18px; display:block; text-align: right; }
    }
}

// ListType2
.ListType2 { 
	.LeftColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; }
        h5 { color:grey; font-size:16px; display:block; }
    }
    .RightColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; text-align: right; }
        h5 { color:grey; font-size:16px; display:block; text-align: right;  }
    }
}

// ListType3 - News and Activity Listing
.ListType3 { background:lightgrey; 
    .LeftColumn {
        img { width:100%; }
    }
    .RightColumn { position:relative;
        h4 { color:blue; font-size:20px; display:block; }
        h5 { color:black; font-size:6px; display:block; }
        h6 { color:black; font-size:20px; display:block; }
    }
}

// ListType4 - Message Bubbles
.ListType4 { 
    .student-name {
        .name { padding:0 0 5px 55px; }
    }
    .wrapper-message { margin:0 0 30px 0; 
        &.left { text-align:left; 
            &.blue { 
                .name { width:35px; max-width:35px; height:35px; max-height:35px; display:inline-block; border-radius:35px; background:navy; color:white; margin-right:10px; vertical-align:top; 
                    .content { vertical-align:top; padding-top:8px; padding-left:10px; font-size:15px}
                }
                .message { max-width:300px; display:inline-block; text-align:left; background:navy; color:white; border-radius:20px;
                    .content { padding:10px; display:inline-block; text-align:left; }
                }
            }
        }
            &.grey { 
                .name { width:35px; max-width:35px; height:35px; max-height:35px; display:inline-block; border-radius:35px; background:lightgrey; margin-right:10px; vertical-align:top; }
                .message { max-width:300px; display:inline-block; text-align:left; background:lightgrey; color:black; border-radius:20px;
                    .content { padding:10px; border-radius:3px; display:inline-block; text-align:left; }
                }
            }
        &.right { text-align:right; 
            &.blue { 
                .message { max-width:300px; display:inline-block; text-align:left; background:navy; color:white; border-radius:20px;
                    .content { padding:10px; display:inline-block; text-align:left; }
                }
                .name { width:35px; max-width:35px; height:35px; max-height:35px; display:inline-block; border-radius:35px; background:navy; color:white; margin-left:10px; vertical-align:top; 
                    .content { vertical-align:top; padding-top:8px; padding-left:10px; font-size:15px}
                }
            }
        }
    }
}

// // ListType5
// .ListType5 { 
//     .LeftColumn { position:relative; padding:5px; 
//         h2 { background:blue; color:white; font-size:14px; padding:10px; border-radius:15px }
//     }
//     .RightColumn { padding-top:5px;
//         h2 { background:navy; color:white; font-size:20px; text-align:center; padding:10px; border-radius:25px; }
//     }
// }

// // ListType6
// .ListType6 {
//     .LeftColumn { padding-top:40px;
//         h2 { background:lightgrey; color:lightgrey; font-size:20px; text-align:center; padding:10px; border-radius:25px; }
//     }
//     .RightColumn { position:relative; padding:5px; 
//         h1 { font-size:10px; color:grey; padding-left:10px}
//         h2 { background:lightgrey; color:black; font-size:14px; padding:10px; border-radius:15px }
//     }
// }