// ListType1
.ListType1 { 
	.LeftColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; }
        h5 { color:grey; font-size:16px; display:block; }
    }

    .RightColumn { background:#fff; position:relative; 
        h4 { color:#000; font-size:18px; display:block; text-align: right; }
    }
}

// ListType2
.ListType2 { 
	.LeftColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; }
        h5 { color:grey; font-size:16px; display:block; }
    }
    .RightColumn { background:#fff; position:relative;
        h4 { color:#000; font-size:16px; display:block; text-align: right; }
        h5 { color:grey; font-size:16px; display:block; text-align: right;  }
    }
}

// ListType3 - News and Activity Listing
.ListType3 { background:lightgrey; 
    .LeftColumn {
        img { width:100%; }
    }
    .RightColumn { position:relative;
        h4 { color:blue; font-size:20px; display:block; }
        h5 { color:black; font-size:6px; display:block; }
        h6 { color:black; font-size:20px; display:block; }
    }
}

// ListType4 - Message Bubbles
.ListType4 { 
    .wrapper-message { margin:0 0 30px 0; 
            &.me { 
                .name { width:35px; max-width:35px; height:35px; max-height:35px; display:inline-block; border-radius:35px; background:navy; color:white; margin-right:10px; vertical-align:top; 
                    
                }
                .message { max-width:300px; display:inline-block; text-align:left; background:navy; color:white; border-radius:20px;
                    .content { padding:10px; display:inline-block; text-align:left; }
                }
            }

            &.they { 
                .name { width:35px; max-width:35px; height:35px; max-height:35px; display:inline-block; border-radius:35px; background:lightgrey; margin-right:10px; vertical-align:top; }
                .message { max-width:300px; display:inline-block; text-align:left; background:lightgrey; color:black; border-radius:20px;
                    .content { padding:10px; border-radius:3px; display:inline-block; text-align:left; }
                }
            }
    }
}