//ELEMENTS
input[type=text],
input[type=email],
input[type=password] { padding:18.5px 14px; line-height: 1em; border:solid 1px grey; border-radius:3px; width:100%; }

select {
    border:solid 1px grey; border-radius:3px; width:100%;
}