.home { position: relative;
    .slick-slider{ position:absolute; top:0; bottom:0; left:0; right:0; z-index:0;
        .slick-list { height:100%; 
            .slick-track { height:100%; 
                >div{ height:100%; 
                    >div { height:100%; 
                        >div { height:100%; }
                    }
                }
            }
        }
        
        .banner {
            &.bannerOne { background:url('../images/desktop/banner/homepage_1.jpg') center top no-repeat; 
                @media (max-width: 640px) { background:url('../images/mobile/General/banner/homepage_1.jpg') center top no-repeat; background-size:100%;}
            }
            &.bannerTwo { background:url('../images/desktop/banner/homepage_2.jpg') center top no-repeat; 
                @media (max-width: 640px) { background:url('../images/mobile/General/banner/homepage_2.jpg') center top no-repeat; background-size:100%;}
            }
            &.bannerThree{ background:url('../images/desktop/banner/homepage_3andDiscover.jpg') center top no-repeat; 
                @media (max-width: 640px) { background:url('../images/mobile/General/banner/homepage_3.jpg') center top no-repeat; background-size:100%;}
            }
        }
    }

    .wrapper-tabs {

        ul.nav-tabs { margin:0;
            
            @media (max-width: 640px) { display:table; width: 100%; }

            li { margin:0; padding:20px 40px; 
                
                @media (max-width: 640px) { float:none; display:table-cell; width:50%; padding:20px 20px; vertical-align: middle; }
                
                a { color:white; font-size:24px; font-weight:bold; text-transform:uppercase; text-shadow: 2px 2px 2px #ccc; line-height:1.2em;
                
                    @media (max-width: 640px) { font-size:20px; text-align:center; }
                    @media (max-width: 480px) { font-size:16px; }
                }
    
                &.active { background:white;
                    a { color:$majorGreen; background:none; text-shadow:none; }
                }
            }
        }
    }
    
    h3 { color:#000; text-transform:uppercase; margin:0 0 30px 0; font-size:32px; line-height: 1.2em;
        @media (max-width: 640px) { font-size:24px; margin:0 0 20px 0; }
        
        .sep-0 { display:none; 
            @media (max-width: 640px) { display:block; }
        }
    }
    
    .wrapper-hot { padding:40px 40px 0 40px; background:#fff;

        @media (max-width: 640px) { padding:20px 20px 0 20px; }

        .hot{ margin:0 0 0 -20px;

            .toHide{
                @media (max-width: 840px) { display:none; }
            }

            > div {
                @media (max-width: 840px) { width:100%; }
            }

            > div > div { margin:0 0 20px 20px;

            }

            .moreHotSpaces { color:#000; font-size:16px; }
        }
    }
}

.wrapper-homeBottom { display:none;

    @media (max-width: 980px) { display:block; }

    .wrapper-HowItWork { background:#eff5f5; 
    
        .HowItWork { max-width:1240px; margin:0 auto; padding:45px 20px;
    
            h3 { color:#000; text-transform:uppercase; margin:0 0 30px 0; font-size:32px; line-height: 1.2em;
                @media (max-width: 640px) { font-size:24px; margin:0 0 20px 0; }
                
                .sep-0 { display:none; 
                    @media (max-width: 640px) { display:block; }
                }
            }
    
            >div { 
                @media (max-width: 980px) { margin-left:-20px; margin-right:-20px; }
    
                img { width:100%; margin:0 auto; }
            }
        }
    }

    .wrapper-featured { background:#ecf0f1;

        .featured { max-width:1240px; margin:0 auto; padding:45px 20px;
    
            >div {
                img { width:100%; max-width:558px; margin:0 auto; }
            }
        }
    } 
}

.wrapper-homeMiddle { position:relative; background:#1dbeb9; z-index:1;

    h3 { color:#000; text-transform:uppercase; margin:0 0 30px 0; font-size:35px; line-height: 1.3em;
        @media (max-width: 640px) { font-size:24px; margin:0 0 20px 0; }
        
        .sep-0 { 
        }
    }

    .wrapper-one { position:relative; background:#eff5f5; z-index:3; min-width:320px;
        @media (max-width: 980px) { width:100% !important; } 

        .one { margin:0 auto;;
            >div { display:block; float:right; min-width:320px;
                @media (max-width: 980px) { width:100% !important; float:none; } 
            
                .wrapper-benefitsOf { padding:60px 45px 40px 20px; background:#eff5f5;

                    @media (max-width: 980px) { padding:60px 20px 20px 20px; } 
            
                    .learnMore { color:#000; text-transform:uppercase; font-size:20px; 
                        @media (max-width: 640px) { font-size:18px; }
                    }
                }

                .wrapper-howItWorks { padding:60px 45px 50px 20px; background:#eff5f5;
                    @media (max-width: 980px) { display:none !important; } 
            
                    .howItWorks { text-align:center;
            
                        img { width:1200px; max-width:1200px;
                        }
                    }
                }
            }
        }
    }
    
    .wrapper-two { background:#becd32; position:absolute; top:0; width:100%; z-index:2; 
        
        @media (max-width: 980px) { position:relative; top:auto; } 

        .two { max-width:1240px; margin:0 auto; text-align:right;
            
            @media (max-width: 1280px) { max-width:1200px; }
            
            >div { display:block; float:right; width:32%; text-align:left;
                
                @media (max-width: 980px) { width:100%; }
                
                .wrapper-whatsHot { padding:60px 20px 20px 45px; background:#becd32;

                    @media (max-width: 980px) { padding:45px 20px; }
            
                    // react-slick
                    .slick-slider { max-width:518px; margin:0 auto; 
                        img { width:100%; }
                    }
            
                    .slick-dots { position:relative; bottom:auto; margin:10px 0 0 0; }
                }
            }
        }
    }

    .wrapper-three { background:#1dbeb9; position:absolute; top:515px; width:100%; z-index:2; 
        
        @media (max-width: 980px) { position:relative; top:auto !important; } 

        .three { max-width:1240px; margin:0 auto; text-align:right;
            
            @media (max-width: 1280px) { max-width:1200px; }
            
            >div { display:block; float:right; width:32%; text-align:left;
                
                @media (max-width: 980px) { width:100%; }

                .wrapper-ourCustomers { padding:60px 20px 20px 45px; background:#1dbeb9;

                    @media (max-width: 980px) { padding:45px 20px; }
            
                    .ourCustomers { text-align:left;
                        img { width:100%; max-width:304px; margin:0 auto 30px; }
                        p { color:#fff; }
                        h4, h5 { color:#fff; font-weight:bold; }
            
                        .slick-slider {  padding: 0 30px; }
            
                        .slick-arrow { top:152px; margin-top:-10px; z-index:2; 
                            &.slick-prev { left:0px; }
                            &.slick-next { right:0px; }            }
                    }
                }
            }
        }
    }
}
