// variables
@import "../variables";

body,
textarea,
select, { }

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {

}

ul.accordion { 
    >li { 
        >a { }
    }
}

.wrapper-topTab .topTab ul li a { }

.wrapper-container .container.coming-soon .holder > div > div h2,
.wrapper-container .container.coming-soon .holder > div > div h3,
.wrapper-container .container.coming-soon .holder > div > div h4,
.wrapper-container .container.page-not-found .holder > div > div h2,
.wrapper-container .container.page-not-found .holder > div > div h3,
.wrapper-container .container.page-not-found .holder > div > div h4 { font-family: $font-family-body; font-weight:bold !important; }

.parkingRates .inner.pre .middle h6,
.parkingRates .inner.non-pre .middle h6 { font-family: "Sintony", sans-serif !important; font-weight:400!important; }
